# Wireguard client config for {{ item[0].name }}

[Interface]
Address = {{ item[0].address }}
PrivateKey = {{ item[1].content | b64decode | trim }}
DNS = 1.1.1.1, 8.8.8.8

[Peer]
PublicKey = {{ vpn_public_key }}
AllowedIPs = 10.0.1.1/24, 10.0.2.1/24
Endpoint = {{ vpn_endpoint }}:{{ vpn_listen_port }}
