# {{ ansible_managed }}

[Interface]
PrivateKey = {{ vpn_private_key }}
Address = {{ vpn_address }}
ListenPort = {{ vpn_listen_port }}
SaveConfig = true

# Enable IP forwarding and NAT
PostUp = iptables -t nat -I POSTROUTING -o {{ vpn_physical_interface }} -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o {{ vpn_physical_interface }} -j MASQUERADE

{% for client, key_result in vpn_clients | default([]) | zip((client_public_keys.results | default([])) if client_public_keys is defined else []) %}
# {{ client['name'] }}
[Peer]
PublicKey = {{ key_result.content | b64decode | trim }}
AllowedIPs = {{ client['address'] }}

{% endfor %}